body{
    background-color: rgb(92, 82, 82);
    margin: 0%;
}
/* Navigation menu starts*/
.navbar {
    width: 100%;
    
    background-color: rgb(246, 53, 204);
   
}
ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}
li {
    float: left;
}

li a {
    display: block;
    padding: 10px 18px;
    color: #fff;
    text-decoration: none;
}
/*Navigation menu Ends here*/

.main{
    margin-top: 50px;
}
.img-logo {
    text-align: center;
    margin-bottom: 30px;
}

.form_section {
    height: auto;
    width: 40%;
    margin:auto;
    background-color: #fff;
    border-radius: 5px;
}
.form_text {
    padding-top: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(92, 82, 82);
}

input {
    background-color:rgb(214, 214, 237);
    width: 90%;
    padding: 12px 8px;
    margin: 12px 14px;
    border: none;
    border-bottom: 1px solid rgb(214, 214, 237);
    
    
}
input[type=submit] {
    width: 70px;
    height: auto;
    background-color: rgb(14, 121, 67);
    color: #fff;
    border:none;
}
.left-button {
    width: 90%;
    
}
.row {
    float: right;
    
}
.footer-top {
    background-color:rgb(246, 53, 204);
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
}
.footer-bottom {
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    color: #fff;
}